.root {
    -fx-font-size: 14px;
    
    -fx-background: #f0f0f0;
    -fx-background-color: #f0f0f0;
	-fx-base: #d0d0d0;
	
	-fx-shadow-highlight-color: white;
	-fx-outer-border: #8c8c8c;
	
	-fx-drawing: #505050;
	
/*	-fx-inner-border	*/
	-fx-shiny-sun-color: linear-gradient(from 0% 100% to 0% 0%, #dbdde6 0%, #d6d6de 54%, #e7e6e3 57%, #f6f5f2 100%);
	-fx-button-color: -fx-shiny-sun-color;
	-fx-shiny-sun-highlight-color: linear-gradient(from 0% 100% to 0% 0%, 
		derive(#dbdde6, 30%) 0%, 
		derive(#d6d6de, 30%) 54%, 
		derive(#e7e6e3, 30%) 57%, 
		derive(#f6f5f2, 30%) 100%);

	-fx-shiny-sun-pressed-color: linear-gradient(from 0% 100% to 0% 0%, 
		derive(#dbdde6, -10%) 0%, 
/*		derive(#d6d6de, -10%) 54%,*/ 
/*		derive(#e7e6e3, -10%) 57%,*/ 
		derive(#f6f5f2, -10%) 70%,
		derive(#f6f5f2, -20%) 100%
	);
	-fx-white-background-color: linear-gradient(from 0% -5 to 0% 10, #cdd1ea 0%, #ffffff 100%);
	
    -fx-focus-color: #7790a1;
    -fx-accent: -fx-focus-color;
    
    -fx-chocolate: #736a6a;
    -fx-chocolate-dark: derive(-fx-chocolate, -35%);
    -fx-chocolate-light: derive(-fx-chocolate, 15%);
    -fx-chocolate-shadow: derive(-fx-chocolate, -15%);
    -fx-chocolate-selected: derive(-fx-chocolate, -15%);

    -fx-chocolate-bottom-shadow: linear-gradient(from 0% 85% to 0% 100%, -fx-chocolate 0%, derive(-fx-chocolate, -25%) 100%);
    -fx-chocolate-light-bottom-shadow: linear-gradient(from 0% 85% to 0% 100%, -fx-chocolate-light 0%, derive(-fx-chocolate-light, -25%) 100%);
    -fx-chocolate-dark-bottom-shadow: linear-gradient(from 0% 85% to 0% 100%, -fx-chocolate-dark 0%, derive(-fx-chocolate-dark, -25%) 100%);
    -fx-chocolate-selected-bottom-shadow: linear-gradient(from 0% 85% to 0% 100%, -fx-chocolate-selected 0%, derive(-fx-chocolate-selected, -25%) 100%);

    
}
.button	 {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-button-color;
	-fx-background-insets: 0 0 -1 0, 0 0 0 0, 1 1 1 1;
    -fx-background-radius: 3,3,2;
}
.button:focused {
	-fx-background-color: -fx-focus-color, -fx-button-color;
	-fx-background-insets: -1 -1 -1 -1, 1 1 1 1;
    -fx-background-radius: 4,2;
}

.button:hover {
	-fx-button-color: -fx-shiny-sun-highlight-color;		
}
.button:pressed {
	-fx-button-color: -fx-shiny-sun-pressed-color;
}
.button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.button:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
} 
.button .text {
	/*
    -fx-fill: white;
    -fx-effect: dropshadow( one-pass-box , pink , 0,1,0,1 );
     */
     
    -fx-text-fill: black;
    -fx-effect: dropshadow( one-pass-box , white , 0,0,0,1 );
}

.text-field	 {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-white-background-color;		
 	-fx-background-insets: 0 0 -1 0, 0 0 0 0, 1 1 1 1;
    -fx-background-radius: 4,3,2;
}
.text-field:focused {
	-fx-background-color: -fx-focus-color, -fx-white-background-color;		
	-fx-background-insets: -1 -1 -1 -1, 1 1 1 1;
    -fx-background-radius: 4,2;
}
.text-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}


.check-box .box	 {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-white-background-color;		
 	-fx-background-insets: 0 0 -1 0, 0 0 0 0, 1 1 1 1;
    -fx-background-radius: 4,3,2;
}
.check-box:focused .box {
	-fx-background-color: -fx-focus-color, -fx-white-background-color;		
	-fx-background-insets: -1 -1 -1 -1, 1 1 1 1;
    -fx-background-radius: 4,2;
}
.check-box:disabled .box {
    -fx-opacity: -fx-disabled-opacity;
}

.text-field	 {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-white-background-color;		
 	-fx-background-insets: 0 0 -1 0, 0 0 0 0, 1 1 1 1;
    -fx-background-radius: 4,3,2;
}


/*
Number spinner
*/
#NumberField {
	 -fx-background-radius: 4 0 0 4, 3 0 0 3, 2 0 0 2;
}
#NumberField:focused {
	-fx-background-radius: 4 0 0 4, 2 0 0 2;
	
	-fx-background-color: -fx-focus-color, -fx-white-background-color;		
	-fx-background-insets: -1 0 -1 -1, 1 2 1 1;
}

#SpinnerButtonUp {
	-fx-background-insets: 0 0 0 0, 0 0 0 0, 1 1 0 0;
    -fx-background-radius: 0 3 0 0, 0 3 0 0, 0 2 0 0;    
}
#SpinnerButtonUpArrow {
	-fx-background-color: -fx-drawing;

    -fx-shape: "m 8,5 4,4 0,1 -1,0 L 8,7 5,10 4,10 4,9 z"; 

/* 	-fx-shape: "M 0,8 L 4,2 8,8 "; */
    -fx-scale-shape: false;
    -fx-effect: dropshadow(two-pass-box , white, 1, 0.0 , 0, 1);
}
#SpinnerButtonDown {
	-fx-background-insets: 0 0 -1 0, 0 0 0 0, 0 1 1 0;
    -fx-background-radius: 0 0 3 0, 0 0 3 0, 0 0 2 0;
    
}
#SpinnerButtonDownArrow {
	-fx-background-color: -fx-drawing;
    -fx-shape: "M 8,9 4,5 4,4 l 1,0 3,3 3,-3 1,0 0,1 z";
    -fx-scale-shape: false;
    -fx-effect: dropshadow(two-pass-box , white, 1, 0.0 , 0, 1);
}

/*
#NumberSpinnerArrow {
    -fx-fill: gray;
    -fx-stroke: gray;
}
#ButtonsBox {
    -fx-border-color:lightgray;
    -fx-border-width: 1 1 1 0;
    -fx-border-radius: 0 3 3 0;
}
*/

.slide-check {
    -fx-skin: "boxes.jfx.SlideCheckSkin";
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.slide-check:focused {
    -fx-color: -fx-focused-base;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 6.4, 5, 4, 3;
}

.slide-check:hover {
    -fx-color: -fx-hover-base;
}

.slide-check:armed {
    -fx-color: -fx-pressed-base;
}

.slide-check:selected {
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
        linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1, 1;
    /* TODO: -fx-text-fill should be derived */
    -fx-text-fill: -fx-light-text-color;
}

.slide-check:selected:focused {
    -fx-color: -fx-focused-base;
    -fx-background-color:
        -fx-focus-color,
        linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
        linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);
    -fx-background-insets: -1.4, 0, 1, 1;
}

.slide-check:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.slide-check:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
} 


	







.tab-pane:top *.tab-header-area {
	-fx-background-color: pink;		
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
}
.tab-pane:bottom *.tab-header-area {
	-fx-background-color: pink;		
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
}
.tab-pane:left *.tab-header-area {
	-fx-background-color: pink;		
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
}
.tab-pane:right *.tab-header-area {
	-fx-background-color: pink;		
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
}

.tab-pane .headers-region {
	-fx-background-color: -fx-chocolate-light-bottom-shadow;
	-fx-padding: 0 0 0 1;
}

.tab-pane *.tab-header-background {
	-fx-background-color: -fx-chocolate-light-bottom-shadow, -fx-chocolate-dark-bottom-shadow, -fx-chocolate-bottom-shadow;		
 	-fx-background-insets: 0 1 0 0, 0 0 0 1, 0 1 0 1;
    -fx-background-radius: 0;    
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.01) , 4, 0.0 , 0 , 0);
}

.tab {
	-fx-background-color: -fx-chocolate-light-bottom-shadow, -fx-chocolate-dark-bottom-shadow, -fx-chocolate-bottom-shadow;		
 	-fx-background-insets: 0 1 0 0, 0 0 0 1, 0 1 0 1;
	-fx-effect: innershadow(three-pass-box , rgba(0,0,0,0.01) , 8, 0.0 , 0 , 0);
    -fx-background-radius: 0;    
    -fx-padding: 5 15 5 15;
}

.tab:left {
	-fx-background-color: -fx-chocolate-dark-bottom-shadow, -fx-chocolate-light-bottom-shadow, -fx-chocolate-bottom-shadow;		
}
.tab:bottom {
	-fx-background-color: -fx-chocolate-dark-bottom-shadow, -fx-chocolate-light-bottom-shadow, -fx-chocolate-bottom-shadow;		
}

.tab:selected {
	-fx-background-color: -fx-chocolate-selected-bottom-shadow;		
 	-fx-background-insets: 0;

    -fx-effect: innershadow(three-pass-box , rgba(0,0,0,0.5) , 8, 0.0 , 0 , 0);
	-fx-background-radius: 0;

/*
	-fx-background-image: url("tab_arrow.png");
	-fx-background-position: center bottom;
	-fx-background-repeat: no-repeat;
	-fx-background-size: auto;
	*/
}

.tab .tab-label {
    -fx-background-color: transparent;    
    -fx-alignment: CENTER;
    -fx-text-fill: #cccccc;
    -fx-fill: white;
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, 0.3) , 0,0,0,1 );
}

.tab:selected .tab-label {
    -fx-background-color: transparent;    
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, 0.3) , 0,0,0,1 );    
}

