.root {
    -fx-font-size: 14px;
    
    -fx-background: #f0f0f0;
    -fx-background-color: #f0f0f0;
	-fx-base: #d0d0d0;
	
	-fx-shadow-highlight-color: white;
	-fx-outer-border: #8c8c8c;
/*	-fx-inner-border	*/
	-fx-shiny-sun-color: linear-gradient(from 0% 100% to 0% 0%, #dbdde6 0%, #d6d6de 54%, #e7e6e3 57%, #f6f5f2 100%);
	-fx-button-color: -fx-shiny-sun-color;
	-fx-shiny-sun-highlight-color: linear-gradient(from 0% 100% to 0% 0%, 
		derive(#dbdde6, 30%) 0%, 
		derive(#d6d6de, 30%) 54%, 
		derive(#e7e6e3, 30%) 57%, 
		derive(#f6f5f2, 30%) 100%);

	-fx-shiny-sun-pressed-color: linear-gradient(from 0% 100% to 0% 0%, 
		derive(#dbdde6, -10%) 0%, 
/*		derive(#d6d6de, -10%) 54%,*/ 
/*		derive(#e7e6e3, -10%) 57%,*/ 
		derive(#f6f5f2, -10%) 70%,
		derive(#f6f5f2, -20%) 100%
	);
	-fx-white-background-color: linear-gradient(from 0% -5 to 0% 10, #cdd1ea 0%, #ffffff 100%);
	
    -fx-focus-color: #7790a1;
    -fx-accent: -fx-focus-color;
}
.button	 {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-button-color;
	-fx-background-insets: 0 0 -1 0, 0 0 0 0, 1 1 1 1;
    -fx-background-radius: 3,3,2;
}
.button:focused {
	-fx-background-color: -fx-focus-color, -fx-button-color;
	-fx-background-insets: -1 -1 -1 -1, 1 1 1 1;
    -fx-background-radius: 4,2;
}

.button:hover {
	-fx-button-color: -fx-shiny-sun-highlight-color;		
}
.button:pressed {
	-fx-button-color: -fx-shiny-sun-pressed-color;
}
.button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
.button:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
} 
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

.text-field	 {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-white-background-color;		
 	-fx-background-insets: 0 0 -1 0, 0 0 0 0, 1 1 1 1;
    -fx-background-radius: 4,3,2;
}
.text-field:focused {
	-fx-background-color: -fx-focus-color, -fx-white-background-color;		
	-fx-background-insets: -1 -1 -1 -1, 1 1 1 1;
    -fx-background-radius: 4,2;
}
.text-field:disabled {
    -fx-opacity: -fx-disabled-opacity;
}


.check-box .box	 {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-white-background-color;		
 	-fx-background-insets: 0 0 -1 0, 0 0 0 0, 1 1 1 1;
    -fx-background-radius: 4,3,2;
}
.check-box:focused .box {
	-fx-background-color: -fx-focus-color, -fx-white-background-color;		
	-fx-background-insets: -1 -1 -1 -1, 1 1 1 1;
    -fx-background-radius: 4,2;
}
.check-box:disabled .box {
    -fx-opacity: -fx-disabled-opacity;
}

.text-field	 {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-white-background-color;		
 	-fx-background-insets: 0 0 -1 0, 0 0 0 0, 1 1 1 1;
    -fx-background-radius: 4,3,2;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0 0 0 0;
}
.tab-pane:bottom *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0 0 0 0;
}
.tab-pane:left *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0 0 0 0;
}
.tab-pane:right *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0 0 0 0;
}
.tab-pane .headers-region {
/*
    -fx-effect: dropshadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0, 0);
*/
}
.tab {
    -fx-background-color: rgb(45%, 40%, 40%);
    -fx-background-radius: 0;
}
.tab .tab-label {
    -fx-background-color: transparent;    
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-fill: white;
}
